{% extends "layout/base_1.html" %}
{% block content %}
<div class ="topnav">
    <input type="text" placeholder="Search..">
</div>
    <table>

        <tr>

        <th>No</th>

        <th>Contract</th>
        
        <th>Product</th>
        
        <th>Price</th>
            
        </tr>
            {% for contract in contracts %}
                <tr>
                
                <td> {{ contract.id }} </td> 
                
                <td>{{ contract.name}}</td>
                <td>{% for product in contract.list_of_products %}
                <div>{{ product }}</div>
                {% endfor %}</td>

                <td>{{ contract.end_date}}</td>
            {% endfor %}  
        </tr>
            
    </table>
{% endblock content %}