{% extends "layout/base.html" %}
{% block content %}
</div>
<form class="d-flex" role="search">
    <input class="form-control me-2" type="search" placeholder="Search by contract" id="myInputContract" onkeyup="filter()">
    <input class="form-control me-2" type="search" placeholder="Search by product" id="myInputProduct" onkeyup="filter()">
    <input class="form-control me-2" type="search" placeholder="Search by user responsible" id="myInputUserResponsible" onkeyup="filter()">
</form>
    <table class="table table-striped table-hover" id="myTable">
        <thead>
            <tr>
                <th>#</th>
                <th scope="col">Contract</th>
                <th scope="col">Products</th>
                <th scope="col">Quantity</th>
                <th scope="col">Start Date</th>
                <th scope="col">End Date</th>
                <th scope="col">User Responsible</th>
                <th scope="col">Type</th>
            </tr>
        </thead>
            {% for contract in contracts %}
                <tr>
                
                <td > {{ contract.id }} </td> 
                
                <td>{{ contract.name}}</td>

                <td>{% for product in contract.display_products %}
                    <div><a href="{% url 'product-detail' product.id %}">{{ product }}</a></div>
                    {% endfor %} 
                </td>

                <td>{% for number in contract.storage %}
                    <div>{{ number }}</div>
                    {% endfor %} 
                </td>

                <td>{{ contract.start_date|date:"d-m-Y" }}</td>

                <td>{{ contract.end_date|date:"d-m-Y" }}</td>

                <td><a href="#">{{ contract.user_responsible }}</a></td>
                
                <td>{{ contract.type }}</td>

                <td><a href =  "{% url 'object-delete' contract.id %}">Delete</a></td>
            {% endfor %}  
        </tr>
    </table>
<script>
    function filter() {
        var input, filter, table, tr, td, i, txtValue;
        input_product = document.getElementById("myInputContract");
        filter_product = input_product.value.toUpperCase();
        input_producer = document.getElementById("myInputProduct");
        filter_producer = input_producer.value.toUpperCase();
        input_catNo = document.getElementById("myInputUserResponsible");
        filter_catNo = input_catNo.value.toUpperCase();
        table = document.getElementById("myTable");
        tr = table.getElementsByTagName("tr");
        for (i = 0; i < tr.length; i++) {
        td_first = tr[i].getElementsByTagName("td")[1];
        td_second = tr[i].getElementsByTagName("td")[2];
        td_third = tr[i].getElementsByTagName("td")[6];
        if (td_first || td_second || td_third) {
            txtValue1 = td_first.textContent || td_first.innerText;
            txtValue2 = td_second.textContent || td_first.innerText;
            txtValue3 = td_third.textContent || td_first.innerText;
            if (txtValue1.toUpperCase().indexOf(filter_product) > -1 && 
                txtValue2.toUpperCase().indexOf(filter_producer) > -1  && 
                txtValue3.toUpperCase().indexOf(filter_catNo) > -1) {
            tr[i].style.display = "";
            } else {
            tr[i].style.display = "none";
            }
        }          
        }
    }
</script>
{% endblock content %}