{% extends "layout/base.html" %}
{% block content %}
</div>
    <table>

        <tr>

        <th>No</th>

        <th>Contract</th>
        
        <th>Products</th>

        <th>Quantity</th>
        
        <th>Start Date</th>

        <th>End Date</th>

        <th>Is Ending</th>
            
        </tr>
            {% for contract in contracts %}
                <tr>
                
                <td> {{ contract.id }} </td> 
                
                <td>{{ contract.name}}</td>

                <td>{% for product in contract.display_products %}
                    <div><a href="{% url 'product-detail' product.id %}">{{ product }}</a></div>
                    {% endfor %} 
                </td>

                <td>{% for number in contract.storage %}
                    <div>{{ number }}</div>
                    {% endfor %} 
                </td>

                <td>{{ contract.start_date|date:"d-m-Y" }}</td>

                <td>{{ contract.end_date|date:"d-m-Y" }}</td>
                
                <td>{{ contract.ending }}</td>

            {% endfor %}  
        </tr>
            
    </table>
{% endblock content %}