{% extends "layout/base.html" %}
{% block content %}
</div>
<form class="d-flex" role="search">
    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
    <button class="btn btn-outline-success" type="submit">Search</button>
</form>
    <form method = "post" action = "">
        {% csrf_token %}
        <table class="table table-striped table-hover">
            <thead>
                <tr>
                <th>NO</th>
                <th>Order</th>
                <th>Quantity</th>
                <th>Date Of Order</th>
                <th>Is ordered</th>
                <th>Is delivered</th>
                </tr>
            </thead>
                {% for order in orders %}
                    <tr>   
                    <td>{{ order.id }}</td>
                    <td>{{ order.contract }}</td>
                    <td>{{ order.quantity }}</td>
                    <td>{{ order.date_of_order }}</td>
                    {% if order.is_ordered == True %}
                    <td>
                        <input type="checkbox" name="is_ordered" value="{{order.id}}" checked>
                    </td>
                    {% else %}
                    <td>
                        <input type="checkbox" name="is_ordered" value="{{order.id}}" >
                    </td>
                    {% endif %}
                    {% if order.is_delivered == True %}
                    <td>
                        <input type="checkbox" name="is_delivered" value="{{order.id}}" checked>
                    </td>
                    {% else %}
                    <td>
                        <input type="checkbox" name="is_delivered" value="{{order.id}}" >
                    </td>
                    {% endif %}
                    <td>
                    <a href =  "{% url 'object-delete' order.id %}">Delete</a>
                    </td>
                {% endfor %}  
            </tr>
        </table>
        <button type = "submit" name = "save" value = "save">Save</button>
    </form> 
{% endblock content %}