{% extends "layout/base_1.html" %}
{% block content %}
<div class ="topnav">
    <input type="text" placeholder="Search..">
</div>
    <table>

        <tr>

        <th>NO</th>

        <th>Order</th>
        
        <th>Quantity</th>

        <th>Is ordered</th>

        <th>Is delivered</th>
            
        </tr>
            {% for order in orders %}
                <tr>
                
                <td>{{ order.id }}</td>
                
                <td>{{ order.contract }}</td>

                <td>{{ order.quantity }}</td>
                
                <td>{{ order.is_ordered }}</td>

                <td> {{ order.is_delivered }}</td>

                <td><a href="{% url 'order-update' order.id %}">link</a></td>

            {% endfor %}  
        </tr>
            
    </table>
{% endblock content %}