{% extends "layout/base.html" %}
{% block content %}
<div class ="topnav">
    <input type="text" placeholder="Search..">
</div>
    <form method = "post">
        {% csrf_token %}
        <button type = "submit" name = "save" value = "save">Save</button>
        <table>

            <tr>

            <th>NO</th>

            <th>Order</th>
            
            <th>Quantity</th>

            <th>Date Of Order</th>

            <th>Is ordered</th>

            <th>Is delivered</th>
                
            </tr>
                {% for order in orders %}
                    <tr>
                    
                    <td>{{ order.id }}</td>
                    
                    <td>{{ order.contract }}</td>

                    <td>{{ order.quantity }}</td>

                    <td>{{ order.date_of_order }}</td>
                    
                    {% if order.is_ordered == True %}

                    <td><input type="checkbox" name="o{{order.id}}" value="is-ordered" checked></td>

                    {% else %}

                    <td><input type="checkbox" name="o{{order.id}}" value="is-ordered" ></td>

                    {% endif %}

                    {% if order.is_delivered == True %}

                    <td><input type="checkbox" name="d{{order.id}}" value="is-delivered" checked></td>

                    {% else %}

                    <td><input type="checkbox" name="d{{order.id}}" value="is-delivered" ></td>

                    {% endif %}
                {% endfor %}  
            </tr>
                
        </table>
    </form> 
{% endblock content %}