{% extends "layout/base_1.html" %}
{% block content %}
<div class ="topnav">
    <input type="text" placeholder="Search..">
</div>
    <table>

        <tr>

        <th>No</th>

        <th>Contract</th>
        
        <th>Product</th>
        
        <th>Price</th>

        <th>Number left to order</th>
            
        </tr>
            {% for product in products %}
                <tr>
                
                <td> {{ product.id }} </td> 
                
                <td>{{ product.contract}}</td>

                <td><a href="{% url 'product-detail' product.id %}" >{{ product.name }}</a></td>
                
                <td>{{ product.price }}</td>

                <td>{{ product.number_in_contract }}</td>

                <td><button type="button"><a href="{% url 'order-create' %}">Make An Order</a></button></td>
            {% endfor %}  
        </tr>
            
    </table>
{% endblock content %}