{% extends "layout/base_1.html" %}
{% block content %}
{% for post in posts %}
    <article class="media content-section">
    <div class="media-body">
        <div class="article-metadata">
            <a class="mr-2" href="{% url 'products-list' post.author.username %}">{{ post.author }}</a>
            <small class="text-muted">{{ product.contractor }}</small>
        </div>
        <h2><a class="article-title" href=" {% url 'product-list' post.id %}">{{ post.title }}</a></h2>
        <p class="article-content">{{ product.content }}</p>
    </div>
    </article>
{% endfor %}
{% endblock content %}