{% extends "layout/base_1.html" %}
{% block content %}
<div class ="topnav">
    <input type="text" placeholder="Search..">
</div>
    <table>

        <tr>

        <th>Contract</th>

        <th>Product</th>
        
        <th>Number Of Products</th>
        
            
        </tr>
            {% for item in storage %}
                <tr>
                
                <td>{{ item.contract }}</td>
                
                <td>{{ item.product }}</td>

                <td>{{ item.number_of_products }} </td>

            {% endfor %}  
        </tr>
            
    </table>
{% endblock content %}