{% extends "layout/base.html" %}
{% block content %}
{% load crispy_forms_tags %}
<div class="container">
    <div class="centre">
        <legend class="border-bottom" mb-4> Create Your Company </legend>
        <form method="post">
            {% csrf_token %}
            {{ form|crispy }}
            <button class="btn btn-secondary" type = "submit">Create</button>
            <div>Your Company Have An Account?
            <a href="{% url 'login-company' %}">Sign Up</a>
            </div>
        </form>
    </div>
</div>
{% endblock content %}