{% extends "layout/base_1.html" %}
{% load crispy_forms_tags %}
{% block content %}
<div class="center">
    <form method="POST">
       {% csrf_token %}
       <fieldset class="form-group">
            <legend class="border-bottom" mb-4> Profile Info </legend>
            {{ profile_form|crispy }}
            {{ user_form|crispy }}
       </fieldset>
       <div class="form-group">
            <button class="btn btn-outline-info" type="submit">Update</button>
        </div>
    </form>
</div>
{% endblock content %}