{% extends "layout/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
<div class="center">
    <form method="POST">
       {% csrf_token %}
       <fieldset class="form-group">
            <legend class="border-bottom" mb-4> Profile Info </legend>
            <div>
                Your username: {{ user_info.username }}
            </div>
            <div>
                Your email: {{ user_info.email }}
            </div>
            <div>
                <button class="btn btn-secondary">Update your email</button>
            </div>   
            <img src="{{ user.profile.image.url }}" alt="account-photo" height="53" width="53"/>
            {{ profile_form|crispy }}
       </fieldset>
    </form>
</div>
{% endblock content %}