{% extends "layout/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
<div class="container">
    <div class = "list-group">
        <form method="POST">
        {% csrf_token %}
        <fieldset class="form-group list-group-flush">
                <legend class="border-bottom" mb-4> Profile Info </legend>
                <div class = "list-group-item">
                    Your username: {{ user_info.username }}
                </div>
                <div class = "list-group-item">
                    Your email: {{ user_info.email }}
                </div>
                <div class = "list-group-item">
                    Your company: {{ user_info.profile.company.name }}
                </div>
                <div>
                    <button class="btn btn-secondary">Update your email</button>
                </div >   
                <img src="{{ user.profile.image.url }}" alt="account-photo" height="53" width="53"/>
                {{ profile_form|crispy }}
                <button class="btn btn-secondary" type = "submit">Update</button>
        </fieldset>
        </form>
</div>
{% endblock content %}